.root {
    -fx-background-color: rgba(0, 14, 130, 0.50);
}

#listView {
    -fx-opacity: 0.8;
}

#commandLine {
    -fx-background-color: white;
    -fx-opacity: 0.5;
    -fx-font-size: 20;
}

#closeButton {
    -fx-background-color: rgba(0, 14, 130, 0.50);
    -fx-background-radius: 0;
    -fx-text-fill: #FFFFFF;
}

#closeButton:hover {
    -fx-background-color: rgba(132, 0, 17, 1);
}