#dashboard {
    -fx-padding: 10, 10, 10, 10;
    -fx-background-color: #898989;
}

#title {
    -fx-alignment: center;
    -fx-font-size: 30;
}

#overall {
    -fx-background-color: #c6c6c6;
    -fx-vgap: 15;
}

#statistics {
    -fx-background-color: #c6c6c6;
}

#headings {
    -fx-font-size: 25;
    -fx-alignment: center;
}

#numbers {
    -fx-font-size: 30;
    -fx-alignment: center;
}

#mini-headings {
    -fx-font-size: 15;
    -fx-alignment: center;
}

#mini-numbers {
    -fx-font-size: 30;
    -fx-alignment: center;
}

#dashboard-message {
    -fx-alignment: center;
    -fx-font-size: 20;
}

.default-color0.chart-bar {
    -fx-bar-fill: #898989;
}

.chart {
    -fx-background-color: #c6c6c6;
}

.chart-plot-background {
    -fx-background-color: #c6c6c6;
}