/*Padding format is top, right, bottom, left*/

#taskpane {
    -fx-background-color: linear-gradient(to bottom, derive(#d9d9d9, 20%), #b1b1b1);
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    -fx-effect: dropshadow(three-pass-box, derive(gray, -20%), 3, 0, 2, 2);
    -fx-padding: 10, 0, 0, 0;
}

#idLabel {
    -fx-min-width: 50px;
    -fx-text-fill: gray;
    -fx-font-size: 15;
    /*-fx-max-width: 20px;*/
}

#taskDescription {
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-max-width: 600px;
}

#deadlineLabel {
    -fx-font-size: 10;
}